.root {
  display: flex;
  column-gap: 0.75rem;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8125rem;
  }
}

.avatar {
  border-radius: 9999px;
  display: grid;
  overflow: hidden;
  width: 1.5rem;
  height: 1.5rem;
}
